form label {
  display: inline-block;
  width: 225px;
  font-weight: bold;
  padding-left: 80px;
}

form input {
  display: inline-block;
  position: relative;
  width: 225px;
  font-weight: bold;
}


.parallax {

  background-image: url("stadiumb.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}